.card-developer{
    /*
    width: 150px;
    height: 120px;

    display: block;
    border-radius: 5%;
    padding: 8px;
    margin-top: 10px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 26%);*/
    background-color: rgb(141 145 181);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    /* height: 100%; */
    /* padding: 5%; */
    box-shadow: 0px 10px 20px rgb(0 0 0 / 26%);
    /* scale: 1; */
}
.card-dev-name{
    font-weight: bold;
    /*text-decoration: underline;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: block;
    margin:1%;
    text-align: center;
}
.card-dev-role{
    margin-left: 4px;
    display: inline;
    font-size: 14px;
    font-weight: bolder
}