.task-card{    
    background-color: rgb(253, 255, 145);
    border-radius: 5px;
    width: 100%;
    padding: 1%;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 26%);
    scale: 1;
    text-align: center;
    cursor:grab;
}

.card-task-name{
    font-weight: bold;
    /*text-decoration: underline;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    font-size: 1.5em;
    margin:1%;
    text-align: center;
}
.card-task-desc{
    margin-left: 4px;
    display: inline;
    font-size: 1em;
    font-weight: bolder

}
.card-title{
    border-bottom: 1px solid black;
    margin: 3px;
}