
board-input {
    display: flex;
}

input {
    width: 65%;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

button {
    width: 19%;
    border-radius: 50%;
    background-color: transparent;
}