.board-container{
    width: 100%;
    height:100px;
}
.board-input {
    display: flex;
}

input {
    width: 65%;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
}

button {
    margin: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}
.addProgrammerSymbol{
    padding: 0px;
    width: 36px;
    height: 36px;
}
.card-container{
    position: relative;
    margin-top:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:600px;
    border-radius: 15px;
    background-color: rgb(72,75,106);
    justify-content: flex-start;
    transition: 1s;
}
.card-container:hover{
    box-shadow: 0px 0px 10px rgba(0,0,7);
    background-color: rgb(72, 76, 112);
}

