
board-input {
    display: flex;
}

input {
    width: 65%;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    color: white;
}

button {
    width: 19%;
    border-radius: 50%;
    background-color: transparent;
}
.addProgrammerSymbol{
    padding: 0px;
    width: 36px;
    height: 36px;
}