* {
    display: inline-block;
    padding: 5px;
    
   
    
}

.board {
    display: flex;
    width: 900px;
    height: 700px;
    justify-content: space-between;
    flex-grow: initial;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.717);
    border-radius:5px;
}


app-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

app-dev-board {
    max-height: max-content;
    background-color: rgb(72,75,106);
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

app-state {
    position: relative;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   /*
   Este bgcolor cambia las columnas
   */
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    min-width: 144px;
}

.drag-card {
    cursor: move;
    z-index: 300;
}

.bg-blur {
    backdrop-filter: blur(2px);
}

.overlay {
    position: absolute;
    background-color: rgb(72,75,106);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.overlay input {
    background-color: white;

    border: none;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.233);
}

.overlay input::placeholder {
    color: rgb(0, 0, 0);
    text-shadow: 100px 100px 100px 100px black;
    text-decoration: double;
}

.overlay button {
    
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.233);
    cursor: pointer;
    transition-duration: 0.3s;
    width: 37px;
}

.overlay .cancel-button:hover{
    background-color: rgb(201, 39, 39);
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: solid;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;

}
.overlay .add-button:hover {
    background-color: rgb(79, 173, 60);
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: solid;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
.modal-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay .developer-button{
    
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
    transition-duration: 0.3s;
    width: 120px;
    height:30px;
}
.overlay .developer-button:hover{
    background-color: rgb(112, 100, 179);
}
