* {
    display: inline-block;
    padding: 5px;
}

.board {
    display: flex;
    width: 900px;
    height: 700px;
    justify-content: space-between;
    flex-grow: initial;
}

input {
    background-color: white;
    height: 20px;
    width: 100px;
}

button {
    background-color: lightgrey;
    height: 30px;
    width: 60px;
}

app-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

app-dev-board {
    max-height: max-content;
    background-color: rgb(156, 170, 196);
    width:20%;
}

app-state {
    position: relative;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.drag-card{
    cursor:move;
    z-index:300;
}