<!--board.component.html-->
<div class="board">
  <app-dev-board [formData]="formData" (openFormEvent)="listenFormEvent()" (cardClickedEvent)="handleCardClicked($event)"></app-dev-board>

  <!-- Generar columnas -->
  <ng-container cdkDropListGroup *ngFor="let state of states">
    <app-state [name]="state"
    [cardBool]="cardBool"
    [stateFormData]="stateFormdata"
    (booleanEmitter)="onStateClick()"
    (formEmitter)="openStateForm()"
    [connectedDropLists]="getConnectedDropLists()"></app-state>
  </ng-container>

  <!-- Formulario general -->
  <ng-container *ngIf="openForm">
      <form class="overlay bg-blur modal-popup" (submit)="submitForm($event)">
        <div class="name-input txt-input">
          <input type="text" placeholder="Nombre" [(ngModel)]="formData.name" name="name" />
        </div>
        <div class="surname-input txt-input">
          <input type="text" placeholder="Apellido" [(ngModel)]="formData.surname" name="surname" />
        </div>
        <br>
        <div class="rol-input">
          <input type="text" placeholder="Rol" [(ngModel)]="formData.rol" name="rol" />
        </div>
        <button class="add-button" type="submit"><span>&#10004;</span></button>
        <button class="cancel-button" (click)="FormClose()"><span>&#10006;</span></button>
      </form>
  </ng-container>

  <!-- Formulario de estado -->
  <ng-container *ngIf="openStateF">

      <form class="overlay bg-blur modal-popup" (submit)="submitStateForm($event)">
        <div class="name-input txt-input">
          <input type="text" placeholder="Tarea" [(ngModel)]="stateFormdata.taskname" name="taskname" />
        </div>
        <div class="surname-input txt-input">
          <input type="text" placeholder="Descripcion" [(ngModel)]="stateFormdata.description" name="description" />
        </div>
        <br>
        <div class="rol-input">
          <input type="number" placeholder="Developer ID" class="developer-button" [(ngModel)]="stateFormdata.dev" name="dev" />
        </div>
        <button class="add-button" type="submit"><span>&#10004;</span></button>
        <button class="cancel-button" (click)="closeStateForm()"><span>&#10006;</span></button>
        <ng-container *ngIf="selectDevM">
          <br>
          <p>Seleccione la id del Developer deseado</p>
        </ng-container>
      </form>
  </ng-container>
</div>
