.state-container {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

p {
    font-size: 28px;
    font-weight: bold;
    padding: 16px 20px;
    background-color: rgb(175, 201, 223);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-duration: 0.3s;
    margin: 20px 0;
}

p:hover {
    opacity: 70%;
    cursor: pointer;
}

* {
    display: flex;
    position: relative;
    top: -10px;
}

.cards {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px,10px,10px, rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.cards:hover{
    background-color: rgb(235, 235, 235);
}

.statecard {
    width: 100%;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    margin: 10px;
    
    /* Example background color */
    transition: transform 0.5s ease;
    cursor:move;
}
.statecard:hover {
    transform: scale(1.1);
  }
.add-button {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    color: rgb(111, 111, 111);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 90%;
    background-color: rgb(206, 205, 205);
    border-color: transparent;
    transform: translate(0%, 1000%);
    cursor: pointer;
    transition: 0.3s;
}

.add-button:hover {
    color: rgb(0, 0, 0);
    color: white;
}
.cdk-drag.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }